header{
    position: fixed;
    top:4rem;
    width: 100%;
    z-index: 5;
    height: 10.5rem;
    transition: all .3s;

    .inner {
        max-width: 160rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-list{
            display: flex;
            gap: 2rem;
            a{
                display: block;
                font-size: 1.8rem;
                text-transform: capitalize;
                color:var(--primary);
                padding: 0 .5rem;
                position: relative;
                &::after{
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: .1rem;
                    background-color: var(--primary);
                    content:"";
                    left: 0;
                    transition: width .3s ease;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
        h1.tit {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .util-list{
            display: flex;
            align-items: center;
            gap: 2rem;
            li {
                .icon-link {
                display: inline-block;
                width: 28px;
                height: 28px; 
                background-color: var(--primary); 

                -webkit-mask-image: var(--svg-url);
                mask-image: var(--svg-url);
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                
                transition: background-color 0.3s ease;

                    img {
                        display: none;
                    }

                    &:hover {
                        background-color: #b2996e; 
                    }
                }
            }
        }           
        
    }
}